<h2 class="text-xl font-bold mb-4">大カテゴリ 編集</h2>
<%= render "form" %>

<div class="mt-6">
  <%= link_to "← 大カテゴリ一覧へ戻る",
        admin_flavor_categories_path,
        class: "text-blue-600 underline" %>
</div>
