<%# Link to the "Last" page
  - available local variables
    url:           url to the last page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<span class="last">
  <%= link_to_unless current_page.last?, ">>", url, remote: remote,
      class: "flex items-center justify-center min-w-[60px] h-[42px] px-3 bg-[#EBE5DE] border-2 border-[#D6CEC5] text-[#A75F29] rounded-xl font-bold text-[13px] tracking-tighter hover:border-[#A75F29] hover:text-[#A75F29] transition-all shadow-sm no-underline" %>
</span>
