<%# Link showing page number
  - available local variables
    page:          a page object for "this" page
    url:           url to this page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<% if page.current? %>
  <span class="px-4 py-2 bg-blue-500 text-white rounded-md font-semibold">
    <%= page %>
  </span>
<% else %>
  <%= link_to page, url, class: "px-4 py-2 bg-gray-200 text-gray-700 rounded-md hover:bg-gray-300 transition", remote: remote %>
<% end %>
