<%# Link showing page number
  - available local variables
    page:          a page object for "this" page
    url:           url to this page
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<% if page.current? %>
  <span class="flex items-center justify-center min-w-[42px] h-[42px] px-3 bg-[#365442] border-2 border-[#365442] text-white rounded-xl font-bold shadow-inner cursor-default">
    <%= page %>
  </span>
<% else %>
  <%= link_to page, url, remote: remote,
      class: "flex items-center justify-center min-w-[42px] h-[42px] px-3 bg-white border-2 border-[#D6CEC5] text-[#365442] rounded-xl font-bold hover:border-[#A75F29] hover:text-[#A75F29] hover:-translate-y-0.5 transition-all duration-200 no-underline shadow-sm" %>
<% end %>
