<p>以下のリンクからパスワードを再設定してください。</p>

<p>
  <%= link_to 'パスワードを再設定する',
    edit_password_url(@resource, reset_password_token: @token),
    style: "background:#365442;color:#fff;padding:10px 16px;border-radius:6px;text-decoration:none;" %>
</p>

<p>※このリンクは一定時間で無効になります。</p>