<%= turbo_frame_tag "review_modal" do %>

<div
  data-controller="review-modal"
  data-action="click->review-modal#close"
  class="fixed inset-0 flex items-center justify-center bg-black/50 z-50">

  <div
    class="bg-white p-6 rounded w-[500px]"
    data-action="click->review-modal#stop">

    <%= render "form" %>

  </div>

</div>

<% end %>